/Lap2/nbproject/private/
/Calculate/nbproject/private/
/Calculate/build/
/ColorfulCircles/nbproject/private/
/ColorfulCircles/build/
/ColorfulCircles/dist/
/JAVA-Basic/nbproject/private/
/JAVA-Basic/build/
/Lap2/build/
/JavaApplication5/nbproject/private/
/JavaApplication5/build/
/Calculate/dist/
/oop/nbproject/private/
/123/nbproject/private/
/oop/build/
/itest/nbproject/private/
/itest/build/
/iLap/nbproject/private/
/iLap/build/